.line {
  padding: 6px;
}

.line:hover {
  background: rgba(0, 0, 0, 0.06);
}

table.steptable {
  border-collapse: collapse;
  margin: 6px;
}

.steptable {
  border: 1px solid black;
  color: rgba(0, 0, 0, .87);
  font-weight: normal;
}

th {
  padding: 6px;
}

.hint-card {
  padding: 12px 24px !important;
  margin: 12px -24px !important;
  background: rgba(0, 0, 0, .12);
}
