<mat-toolbar color="primary" class="mat-elevation-z8" style="position: fixed; z-index: 10000;">
  <button mat-button mat-dialog-close style="margin-right: 12px">Back</button>
  <span>{{data.name}}</span>
</mat-toolbar>

<div mat-dialog-content *ngIf="scenariosState" style="overflow: inherit;">
  <mat-grid-list [cols]="3" [rowHeight]="320" style="margin-top: 64px;">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>{{data.scenarios.length}} Szenarien</mat-card-title>
        <table class="chart">
          <tr>
            <td>
              <ngx-charts-pie-chart
                [view]="[200, 200]"
                [scheme]="{domain: ['#1ABB9C', '#E74C3C', '#FFD119','#3498DB', '#E74C3C', '#F39C12']}"
                [results]="scenariosState"
                [doughnut]="true">
              </ngx-charts-pie-chart>
            </td>
            <td>
              <table class="tile_info">
                <tr>
                  <td>
                    <i class="fa fa-globe all-color"></i>All
                  </td>
                  <td>{{data.scenarios.length}}<i style="cursor: pointer;" class="fa fa-search all-color" (click)="reset()"></i></td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-circle passed-color"></i>Passed
                  </td>
                  <td>{{data.passed}}</td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-exclamation-circle failed-color"></i>Failed
                  </td>
                  <td>{{data.failed}}<i style="cursor: pointer;" class="fa fa-search all-color" (click)="showOnly('failed')"></i></td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-minus-circle pending-color"></i>Pending
                  </td>
                  <td>{{data.pending}}</td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-arrow-circle-right skipped-color"></i>Skipped
                  </td>
                  <td>{{data.skip}}</td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-flash ambiguous-color"></i>Ambiguous
                  </td>
                  <td>{{data.ambiguous}}</td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-question-circle not-defined-color"></i>Not defined
                  </td>
                  <td>{{data.undefined}}</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>

  <div style="margin: 24px">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let scenario of elements" class="mat-elevation-z8">
        <mat-expansion-panel-header class="mat-elevation-z1">
          <mat-panel-title>
            <i [class]="'fa fa-'  + getIcon(scenario) + ' fa-lg'"> </i> <b style="padding-right: 6px">{{scenario.keyword}} </b> {{scenario.name}}
          </mat-panel-title>
          <mat-panel-description>
            <div style="width: 100%; min-width: 120px;">
              <small style="float: right">Dauer: {{getDauer(scenario.duration)}}
              </small>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card *ngIf="scenario.description || scenario.meta" class="hint-card">
          {{scenario.description}}
          <mat-chip-list>
            <mat-chip *ngFor="let meta of scenario.meta">{{meta.name + ' ' + meta.value}}</mat-chip>
          </mat-chip-list>
        </mat-card>
        <div *ngIf="scenario.before">
          <div *ngFor="let before of scenario.before" class="line">
            <i [class]="'fa fa-'  + getIconForStep(before) + ' fa-lg'"> </i><b>Before </b> {{before.match.location}}
            <div style="width: 100%; min-width: 120px;display: inline;">
              <small style="float: right">{{data.feature.name}} - Dauer: {{getDauer(scenario.duration)}}
              </small>
            </div>
            <mat-card *ngIf="before.result.error_message" class="hint-card">
              <pre style="overflow: auto;">{{before.result.error_message}}</pre>
            </mat-card>
          </div>
          <br>
        </div>
        <div *ngFor="let step of scenario.steps" class="line">
          <i [class]="'fa fa-'  + getIconForStep(step) + ' fa-lg'"> </i><b>{{step.keyword}}</b> {{step.name}}
          <div style="width: 100%; min-width: 120px;display: inline;">
            <small style="float: right">{{step.match.location}} - Dauer: {{getDauer(scenario.duration)}}
            </small>
          </div>
          <table *ngIf="step.rows" class="steptable">
            <tr *ngFor="let row of step.rows" class="steptable">
              <th *ngFor="let cell of row.cells" class="steptable">
                {{cell}}
              </th>
            </tr>
          </table>
          <mat-card *ngIf="step.result.error_message" class="hint-card">
            <pre style="overflow: auto;">{{step.result.error_message}}</pre>
          </mat-card>
        </div>
        <div *ngIf="scenario.before">
          <div *ngFor="let after of scenario.after" class="line">
            <i [class]="'fa fa-'  + getIconForStep(after) + ' fa-lg'"> </i><b>Before </b> {{after.match.location}}
            <div style="width: 100%; min-width: 120px;display: inline;">
              <small style="float: right">Dauer: {{getDauer(scenario.duration)}}
              </small>
            </div>
            <mat-card *ngIf="after.result.error_message" class="hint-card">
              <pre style="overflow: auto;">{{after.result.error_message}}</pre>
            </mat-card>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
