<div mat-dialog-title>
  <button mat-button mat-dialog-close style="margin-right: 12px">Back</button>
  <span>{{data.name}}</span>
</div>

<div mat-dialog-content style="overflow: inherit;">
  <mat-grid-list [cols]="2" [rowHeight]="320" style="margin-top: 64px;">
    <mat-grid-tile>
      <mat-card>
        <div mat-card-title>{{data.feature.elements.length}} Szenarien</div>
        <table class="chart">
          <tr>
            <td>
              <ngx-charts-pie-chart
                [view]="[200, 200]"
                [scheme]="{domain: ['#1ABB9C', '#E74C3C', '#FFD119','#3498DB', '#E74C3C', '#F39C12']}"
                [results]="scenariosState"
                [doughnut]="true">
              </ngx-charts-pie-chart>
            </td>
            <td>
              <table class="tile_info">
                <tr>
                  <td>
                    <i class="fa fa-globe all-color"></i>All
                  </td>
                  <td>{{data.feature.elements.length}}<i class="fa fa-search all-color" (click)="reset()"></i></td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-circle passed-color"></i>Passed
                  </td>
                  <td>{{data.passed}}</td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-exclamation-circle failed-color"></i>Failed
                  </td>
                  <td>{{data.failed}}<i style="cursor: pointer;" class="fa fa-search all-color" (click)="showOnly('failed')"></i></td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-minus-circle pending-color"></i>Pending
                  </td>
                  <td>{{data.pending}}</td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-arrow-circle-right skipped-color"></i>Skipped
                  </td>
                  <td>{{data.skip}}</td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-flash ambiguous-color"></i>Ambiguous
                  </td>
                  <td>{{data.undefined}}</td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-question-circle not-defined-color"></i>Not defined
                  </td>
                  <td>{{data.ambiguous}}</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Metadata</mat-card-title>
        <mat-list>
          <mat-list-item>
            <p mat-line>Beschreibung: {{data.feature.description}}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p mat-line>Dauer: {{getDauer(data.feature.duration)}}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p mat-line>Datei: {{data.feature.uri}}</p>
          </mat-list-item>
          <mat-divider *ngIf="data.feature.tags"></mat-divider>
          <mat-list-item *ngIf="data.feature.tags">
            <p mat-line>
              <mat-chip-list>
                <mat-chip *ngFor="let tag of data.feature.tags">{{tag.name}}</mat-chip>
              </mat-chip-list>
            </p>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <div style="margin: 24px">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let scenario of elements" class="mat-elevation-z8">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i [class]="'fa fa-'  + getIcon(scenario) + ' fa-lg'"> </i> <b style="padding-right: 6px">{{scenario.keyword}} </b> {{scenario.name}}
          </mat-panel-title>
          <mat-panel-description>
            <div style="width: 100%; min-width: 120px;">
              <small style="float: right">Dauer: {{getDauer(scenario.duration)}}
              </small>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card *ngIf="scenario.description || scenario.meta" class="hint-card">
          {{scenario.description}}
          <mat-chip-list>
            <mat-chip *ngFor="let tag of scenario.tags">{{tag.name}}</mat-chip>
          </mat-chip-list>
        </mat-card>
        <div *ngIf="scenario.before">
          <div *ngFor="let before of scenario.before" class="line">
            <i [class]="'fa fa-'  + getIconForStep(before) + ' fa-lg'"> </i><b>Before </b> {{before.match.location}}
            <div style="width: 100%; min-width: 120px;display: inline;">
              <small style="float: right">Dauer: {{getDauer(scenario.duration)}}
              </small>
            </div>
            <mat-card *ngIf="before.result.error_message" class="hint-card">
              <pre style="overflow: auto;">{{before.result.error_message}}</pre>
            </mat-card>
          </div>
          <br>
        </div>
        <div *ngFor="let step of scenario.steps" class="line">
          <i [class]="'fa fa-'  + getIconForStep(step) + ' fa-lg'"> </i><b>{{step.keyword}}</b> {{step.name}}
          <div style="width: 100%; min-width: 120px;display: inline;">
            <small style="float: right">Dauer: {{getDauer(step.result.duration)}}
            </small>
          </div>
          <table *ngFor="let argument of step.arguments" class="steptable">
            <tr *ngFor="let row of argument.rows" class="steptable">
              <th *ngFor="let cell of row.cells" class="steptable">
                {{cell}}
              </th>
            </tr>
          </table>
          <mat-card *ngIf="step.result.error_message" class="hint-card">
            <pre style="overflow: auto;">{{step.result.error_message}}</pre>
          </mat-card>
        </div>
        <div *ngIf="scenario.before">
          <div *ngFor="let after of scenario.after" class="line">
            <i [class]="'fa fa-'  + getIconForStep(after) + ' fa-lg'"> </i><b>Before </b> {{after.match.location}}
            <div style="width: 100%; min-width: 120px;display: inline;">
              <small style="float: right">Dauer: {{getDauer(scenario.duration)}}
              </small>
            </div>
            <mat-card *ngIf="after.result.error_message" class="hint-card">
              <pre style="overflow: auto;">{{after.result.error_message}}</pre>
            </mat-card>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
