
.mat-column-duration {
  max-width: 94px;
}

.mat-column-status,
.mat-column-tags {
  max-width: 74px;
}

.mat-column-passed,
.mat-column-failed,
.mat-column-pending,
.mat-column-skip,
.mat-column-undefined,
.mat-column-ambiguous,
.mat-column-total {
  max-width: 84px;
}

mat-row {
  cursor: pointer;
}
