<div *ngIf="features.length && !inError">
  <mat-toolbar color="primary" class="mat-elevation-z4">
    <span>Cucumber HTML Report</span>
  </mat-toolbar>

  <mat-grid-list [cols]="3" [rowHeight]="320">
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>{{features.length}} Features</mat-card-title>
        <mat-card-content>
          <table class="chart">
            <tr>
              <td>
                <ngx-charts-pie-chart
                  [view]="[200, 200]"
                  [scheme]="{domain: ['#1ABB9C', '#E74C3C', '#3498DB', '#E74C3C']}"
                  [results]="featuresState"
                  [doughnut]="true">
                </ngx-charts-pie-chart>
              </td>
              <td>
                <table class="tile_info">
                  <tr>
                    <td>
                      <i class="fa fa-globe all-color"></i>All
                    </td>
                    <td>{{features.length}}<i style="cursor: pointer;" class="fa fa-search all-color" (click)="reset()"></i></td>
                  </tr>
                  <tr>
                    <td>
                      <i class="fa fa-check-circle passed-color"></i>Passed
                    </td>
                    <td>{{featuresPassed}}<i style="cursor: pointer;" class="fa fa-search all-color" (click)="showOnly('passed')"></i></td>
                  </tr>
                  <tr>
                    <td>
                      <i class="fa fa-exclamation-circle failed-color"></i>Failed
                    </td>
                    <td>{{featuresFailed}}<i style="cursor: pointer;" class="fa fa-search all-color" (click)="showOnly('failed')"></i></td>
                  </tr>
                  <tr>
                    <td>
                      <i class="fa fa-arrow-circle-right skipped-color"></i>Skipped
                    </td>
                    <td>{{featuresSkipped}}</td>
                  </tr>
                  <tr>
                    <td>
                      <i class="fa fa-flash ambiguous-color"></i>Ambiguous
                    </td>
                    <td>{{featuresAmbiguous}}<i style="cursor: pointer;" class="fa fa-search all-color" (click)="showOnly('ambiguous')"></i></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>{{scenarios.length}} Szenarien</mat-card-title>
        <mat-card-content>
          <table class="chart">
            <tr>
              <td>
                <ngx-charts-pie-chart
                  [view]="[200, 200]"
                  [scheme]="{domain: ['#1ABB9C', '#E74C3C', '#FFD119','#3498DB', '#E74C3C', '#F39C12']}"
                  [results]="scenariosState"
                  [doughnut]="true">
                </ngx-charts-pie-chart>
              </td>
              <td>
                <table class="tile_info">
                  <tr>
                    <td>
                      <i class="fa fa-check-circle passed-color"></i>Passed
                    </td>
                    <td>{{scenariosPassed}}</td>
                  </tr>
                  <tr>
                    <td>
                      <i class="fa fa-exclamation-circle failed-color"></i>Failed
                    </td>
                    <td>{{scenariosFailed}}</td>
                  </tr>
                  <tr>
                    <td>
                      <i class="fa fa-minus-circle pending-color"></i>Pending
                    </td>
                    <td>{{scenariosPending}}</td>
                  </tr>
                  <tr>
                    <td>
                      <i class="fa fa-arrow-circle-right skipped-color"></i>Skipped
                    </td>
                    <td>{{scenariosSkipped}}</td>
                  </tr>
                  <tr>
                    <td>
                      <i class="fa fa-flash ambiguous-color"></i>Ambiguous
                    </td>
                    <td>{{scenariosAmbiguous}}</td>
                  </tr>
                  <tr>
                    <td>
                      <i class="fa fa-question-circle not-defined-color"></i>Not defined
                    </td>
                    <td>{{scenariosNotDefined}}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card style="height: 243px; overflow: auto;">
        <mat-card-title>Tags</mat-card-title>
        <mat-card-content>
          <mat-list dense style="overflow: auto;">
            <mat-divider></mat-divider>
            <div *ngFor="let tag of tags" class="tagList">
              <mat-list-item (click)="showTag(tag)"><i [class]="'fa fa-'  + tag.status + ' fa-lg'"></i>{{tag.name}} <span
                class="filler"></span><span>{{tag.scenarios.length}} Szenarien</span></mat-list-item>
              <mat-divider></mat-divider>
            </div>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="example-container">
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Feature name</mat-header-cell>
        <mat-cell *matCellDef="let element"><i [class]="'fa fa-'  + element.status + ' fa-lg'"> </i>{{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="tags">
        <mat-header-cell *matHeaderCellDef> Tags</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <i class="fa fa-tag fa-lg" *ngIf="element.tags && element.tags.length == 1"></i>
          <i class="fa fa-tags fa-lg" *ngIf="element.tags && element.tags.length > 1"></i>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef> Duration</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.duration}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef> Total</mat-header-cell>
        <mat-cell *matCellDef="let element" class="other-background">
          <div class="cell">{{element.total}}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="passed">
        <mat-header-cell *matHeaderCellDef> Passed</mat-header-cell>
        <mat-cell *matCellDef="let element" class="other-background" [ngClass]="{'passed-background': element.passed != 0}">
          <div class="cell">{{element.passed}}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="failed">
        <mat-header-cell *matHeaderCellDef> Failed</mat-header-cell>
        <mat-cell *matCellDef="let element" class="other-background" [ngClass]="{'failed-background': element.failed != 0}">
          <div class="cell">{{element.failed}}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="pending">
        <mat-header-cell *matHeaderCellDef> Pending</mat-header-cell>
        <mat-cell *matCellDef="let element" class="other-background" [ngClass]="{'pending-background': element.pending != 0}">
          <div class="cell">{{element.pending}}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="skip">
        <mat-header-cell *matHeaderCellDef> Skip</mat-header-cell>
        <mat-cell *matCellDef="let element" class="other-background" [ngClass]="{'skipped-background': element.skip != 0}">
          <div class="cell">{{element.skip}}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="undefined">
        <mat-header-cell *matHeaderCellDef> Undefined</mat-header-cell>
        <mat-cell *matCellDef="let element" class="other-background" [ngClass]="{'notdefined-background': element.undefined != 0}">
          <div class="cell">{{element.undefined}}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ambiguous">
        <mat-header-cell *matHeaderCellDef> Ambiguous</mat-header-cell>
        <mat-cell *matCellDef="let element" class="other-background">
          <div class="cell">{{element.ambiguous}}</div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-elevation-z1"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openModal(row)"></mat-row>
    </mat-table>
  </div>
</div>

<div *ngIf="inError">
  <h2 style="margin: 0 auto">Report wurde nicht korrekt erzeugt!!!</h2>
</div>
